.submit-button{
    width: 100%;
    padding: 5px;
    font-size: 1.2rem;
    font-family: "Alexandria", sans-serif;
    font-weight: 300;
    color: #ededed;
    background-color: #da0037;
    border-style: none;
    cursor: pointer;
    transition: color 0.3s;
}
.submit-button:hover{
    color: #171717;
}

/* light */
.main.light .submit-button{
    color: #effffd;
    background-color: #42c2ff;
}
.main.light .submit-button:hover{
    color: #b8fff9;
}