@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,500&display=swap");
@import url("./login_signup_form_subcomponents_style/form_input_style.css");
@import url("./login_signup_form_subcomponents_style/submit_button_style.css");
@import url("./login_signup_form_subcomponents_style/from_title_style.css");
.login-signup-countainer {
  width: 500px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
.login-signup-countainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.error {
  color: #da0037;
  font-family: "Alexandria", sans-serif;
  font-weight: 200;
  align-self: flex-start;
}
.link-to-signup {
  align-self: center;
  color: #ededed;
  font-size: 1.2rem;
  font-family: "Alexandria", sans-serif;
  font-weight: 300;
}
.link-to-signup a {
  text-decoration: none;
  color: #da0037;
  border-bottom: 1px solid #da0037;
}

/* light */
.main.light .error,
.main.light .link-to-signup,
.main.light .link-to-signup a {
  color: #42c2ff;
  border-color: #42c2ff;
}

@media screen and (max-width: 500px) {
  .login-signup-countainer {
    width: 100%;
  }
}
@media screen and (max-width: 435px) {
  .link-to-signup {
    font-size: 1rem;
  }
  .form-input {
    font-size: 1rem;
  }
}
@media screen and (max-width: 375px) {
  .link-to-signup {
    font-size: 0.8rem;
  }
}
